@import 'vendors/reset.scss';
@import 'config/media.scss';
@import 'blocs/newParty.scss';

body{
    margin: 0px 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}

form {
    width: 50%;
    
    div {
      display: flex;
      flex-direction: column;
    }
  }